others/service_document.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://impl.ws.server.example.webservicesidcert.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://impl.ws.server.example.webservicesidcert.com/"
             name="HelloWorldSOAPImplService">
<types>
    <xsd:schema>
        <xsd:import namespace="http://impl.ws.server.example.webservicesidcert.com/" schemaLocation="http://localhost:9000/HelloWorld?xsd=1"/>
    </xsd:schema>
    <xsd:annotation>
        <xsd:appinfo>
        </xsd:appinfo>
    </xsd:annotation>
</types>
<message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="iExist">
    <part name="parameters" element="tns:iExist"/>
</message>
<message name="iExistResponse">
    <part name="parameters" element="tns:iExistResponse"/>
</message>
<message name="getPerson">
    <part name="parameters" element="tns:getPerson"/>
</message>
<message name="getPersonResponse">
    <part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="getImage">
    <part name="parameters" element="tns:getImage"/>
</message>
<message name="getImageResponse">
    <part name="parameters" element="tns:getImageResponse"/>
</message>
<portType name="HelloWorldSOAPImpl">
    <!-- wsdl:portType customizations -->
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <!-- rename the generated SEI from HelloWorldSOAPImpl to HelloWorldSOAPImplCustomized -->
        <jaxws:class name="HelloWorldSOAPImplCustomized"/>
    </jaxws:bindings>
    <operation name="sayHelloWorldFrom">
        <input wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
        <output wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
    </operation>
    <operation name="iExist">
        <input wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/iExistRequest" message="tns:iExist"/>
        <output wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/iExistResponse" message="tns:iExistResponse"/>
    </operation>
    <operation name="getPerson">
        <input wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/getPersonRequest" message="tns:getPerson"/>
        <output wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/getPersonResponse" message="tns:getPersonResponse"/>
    </operation>
    <operation name="getImage">
        <input wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/getImageRequest" message="tns:getImage"/>
        <output wsam:Action="http://impl.ws.server.example.webservicesidcert.com/HelloWorldSOAPImpl/getImageResponse" message="tns:getImageResponse"/>
    </operation>
</portType>
<binding name="HelloWorldSOAPImplPortBinding" type="tns:HelloWorldSOAPImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHelloWorldFrom">
        <soap:operation soapAction=""/>
        <input>
            <soap:body use="literal"/>
        </input>
        <output>
            <soap:body use="literal"/>
        </output>
    </operation>
    <operation name="iExist">
        <soap:operation soapAction=""/>
        <input>
            <soap:body use="literal"/>
        </input>
        <output>
            <soap:body use="literal"/>
        </output>
    </operation>
    <operation name="getPerson">
        <soap:operation soapAction=""/>
        <input>
            <soap:body use="literal"/>
        </input>
        <output>
            <soap:body use="literal"/>
        </output>
    </operation>
    <operation name="getImage">
        <soap:operation soapAction=""/>
        <input>
            <soap:body use="literal"/>
        </input>
        <output>
            <soap:body use="literal"/>
        </output>
    </operation>
</binding>
<service name="HelloWorldSOAPImplService">
    <port name="HelloWorldSOAPImplPort" binding="tns:HelloWorldSOAPImplPortBinding">
        <soap:address location="http://localhost:9000/HelloWorld"/>
    </port>
</service>
</definitions>